<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container content">
                <h3 class="is-uppercase">About Teaching with Qualitative Data</h3>
                <div class="has-text-justified">
                    <p>{{site.project-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="#research"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Our Research
                            </a>
                        </div>
                        <div>
                            <a href="#resources"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Resources
                            </a>
                        </div>
                        <div>
                            <a href="#team"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Our Team
                            </a>
                        </div>
                    </div>
                </div>
        </div>
</section>
