<section class="hero is-fullheight has-text-centered" id="team">
    <div class="hero-body">
        <div class="container">
          <div class="content">
      
          <h3 class="is-uppercase">The Teaching with Qualitative Data Team</h3></div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                  <figure class="image">
                        <img class="is-rounded" src="{{site.author1-image}}" alt="{{site.author1-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author1-about}}</p>
                    <br>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                  <figure class="image">
                        <img class="is-rounded" src="{{site.author2-image}}" alt="{{site.author2-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author2-about}}</p>
                    <br>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                  <figure class="image">
                        <img class="is-rounded" src="{{site.author3-image}}" alt="{{site.author3-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author3-about}}</p>
                    <br>
                </div>
            </div>
            <div class="columns is-centered">
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i> Email QDR
            </a></div>
            
            
        </div>s
</section>
